<html>
<head>
    <meta http-equiv="content-type" content="text/html;charset=utf-8">
    <title>信息列表界面</title>
</head>

<body>

<form action="../controller/LoginController.php" method="post">
    <a href="">发布信息</a>&nbsp;&nbsp;
    <a href="">退出系统</a>
    <table border="1px" cellpadding="1px" cellspacing="1px" width="500px">
        <tr><td colspan="4">内部留言板</td></tr>
        <tr>
            <td>发送人:</td>
            <td>时间:</td>
            <td>接收人:</td>
            <td>内容:</td>
        </tr>
        <{foreach from=$res item=mess}>
        <tr>
            <td><{$mess.sender}></td>
            <td><{$mess.sendtime}></td>
            <td><{$mess.qetter}></td>
            <td><{$mess.content}></td>
        </tr>
        <{/foreach}>
    </table>
</form>
</body>
</html>